// rotate 180deg Y-axis
.rotateY-180 {
  transform: rotateY(180deg);
  transition: transform 0.3s linear;
}

// scale in & out animations
.scale-in {
  animation: scale-in 0.2s linear;
}

.scale-out {
  animation: scale-out 0.2s linear;
}

// for intersection observer
.scale-io {
  animation: scale-io 0.3s ease-in;
}

// fade in & out animations
.fade-in {
  animation: fade-in 0.2s linear;
}

.fade-out {
  animation: fade-out 0.2s linear;
}

// buttons animation
.btn-anim {
  animation: btn-anim 0.3s linear;
}

// *** For Animating Modal: ***
// === for mobile ===
.modal-show-sm {
  animation: modal-show-sm 0.4s ease-out !important;
}

.modal-hide-sm {
  animation: modal-hide-sm 0.4s ease-in !important;
}

.event-modal-anim-show {
  animation: event-modal-anim 0.4s ease-in;
}

.event-modal-anim-hide {
  animation: event-modal-anim-hide 0.4s ease-out !important;
}

// === for laptops & desktop ===

// animation keyframe definition
@keyframes scale-in {
  0% {
    transform: scaleY(0);
    transform-origin: 0% top;
  }
  90% {
    transform: scaleY(1.2);
    transform-origin: 0% top;
  }
  95% {
    transform: scaleY(0.9);
    transform-origin: 0% top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% top;
  }
}

@keyframes scale-out {
  from {
    transform: scaleY(1);
    transform-origin: 0% top;
  }
  to {
    transform: scaleY(0);
    transform-origin: 0% top;
  }
}

@keyframes scale-io {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes btn-anim {
  from {
    transform: scaleX(0.95);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes modal-show-sm {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes modal-hide-sm {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes event-modal-anim {
  from {
    transform: translateY(-20%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes event-modal-anim-hide {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0.5;
  }
}

@keyframes event-modal-anim-show-sm {
  from {
    transform: translateY(85vh);
    opacity: 0.9;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes event-modal-anim-hide-sm {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(85vh);
    opacity: 0.9;
  }
}