font-face {
  font-family: Lora-Italic;
  src: url('/public/fonts/Lora-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: Lora;
  src: url('/public/fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('/public/fonts/Montserrat-Regular.ttf');
}