// FIRST SECTION:
.lab-first-section {
  @include gen-hero-container;
}

// SECOND SECTION:
.lab-second-section {
  padding: 2.5rem 0;

  .chemistry, .physics {
    margin-bottom: 2.5em;
  }

  .flex-container {
    display: flex;
    gap: 1.2rem;

    .descriptive-title-and-text {
      flex: 2;

      .sub-title {
        margin-bottom: 1em;
      }
    }

    .descriptive-img {
      flex: 1;
    }
  }

  // chemistry and physics lab
  .lab-img-1, .lab-img-2 {
    position: relative;
    
    .foreground-lab-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        filter: opacity(0.4);
      }
    }

    .lab-imgs {
      position: initial;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        position: absolute;
        width: 110px;
        background: #fdfdfd;
        border: 1px solid #ebebeb;
        border-radius: 7px;
        padding: 0.2em;
        box-shadow: 0 2px 18px -6px rgba(0, 0, 0, 0.3);
      }

      img:nth-child(1) {
        top: 0;
      }

      img:nth-child(2) {
        left: 35%;
        bottom: -9%;
      }

      img:nth-child(3) {
        right: 0;
        top: 0;
      }
    }
  }

  // ict lab
  .ict-lab-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

// =====*** Media Queries ***=====
// Medium Tablet & Small Devices
@include mediaMd {
  // SECOND SECTION:
  .lab-second-section {
    .lab-img-1 .lab-imgs, .lab-img-2 .lab-imgs {
      img:nth-child(2) {
        left: 26%;
        bottom: 4%;
      }


      img:nth-child(3) {
        left: 51%;
      }
    }

    // ict lab
    .ict-lab-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Small or Smartphone Devices
@include mediaSm {
  // FIRST SECTION:
  .lab-first-section {
    .section h1 {
      font-size: clamp(3.5em, 1em, 2.5em);
      padding: 0 0.3em;
    }
  }

  // SECOND SECTION:
  .lab-second-section {
    padding-left: 1rem;
    padding-right: 1rem;

    .flex-container {
      flex-direction: column;

      .descriptive-title-and-text {
        order: 2;
  
        .sub-title {
          text-align: center;
        }
      }

      .descriptive-img {
        order: 1;
        width: 100%;
        height: 100%;
      }
    }

    .lab-img-1, .lab-img-2 {

      .foreground-lab-bg {
        position: inherit;
      }

      .lab-imgs {

        img:nth-child(1) {
          top: 6%;
          left: 15%;
        }

        img:nth-child(2) {
          left: 15%;
          transform: translateY(130%);
          bottom: 48%;
        }

        img:nth-child(3) {
          right: 0;
          top: 30%;
          left: 60%;
        }
      }
    }
  }
}