// ========== Available Site's fonts ==========
$heading-font: Lora;
$heading-italic-font: 'Lora Italic';
$main-font: Montserrat;

// ========== Available Site's fonts ends ==========

// ========== Site's Colour Palettes ==========
$pry-color: #3626a7;
$sec-color: #edf2ef;
$white-color: #ffffff;
$info-color: #36c;
$danger-color: #f97068;
$text-color: #201335;
// ========== Site's Colour Palettes ends ==========